/* ---------------------------------------------- *\

  Partial: typography

  I set all typographic styles here. First we list our variables such as fonts (maybe we're using some @font-face) and
  additionally and maps we might want to use. Then we specificy the typographic scales we want.

\* ---------------------------------------------- */



h1, h2, h3, h4, h5, h6{
	font-family: "korolev",sans-serif;
	font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
    margin: 2em 0 0.75em;
    line-height: 1.5;
    &:first-child{
    	margin-top: 0;
    }
}

h1{
	font-weight: 700;
	font-size: ms(10);
}

h2{
	font-weight: 500;
	font-size: ms(5);
}

h3{
	font-weight: 700;
	font-size: ms(4);
}

h4{
	font-weight: 300;
	font-size: ms(3);
}

h5{
	font-weight: 700;
	font-size: ms(2);
}

h6{
	font-weight: 500;
	font-size: ms(1);
}

p{	
	font-weight: 500;
	font-size: ms(0);
	&:not(:last-child){
		margin-bottom: 1.4em;
	}
}

strong{
	font-family: "korolev",sans-serif;
	font-style: normal;
	font-weight: 700;
}

em{
	// change if using @fontface
	font-style: italic;
}