// sans-serif
$arial: Arial, "Helvetica Neue", Helvetica, sans-serif;
$helvetica: "Helvetica Neue", Helvetica, Arial, sans-serif;
$lucidagrande: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
$trebuchet: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$verdana: Verdana, Geneva, sans-serif;

// serif
$baskerville: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
$georgia: Georgia, Times, "Times New Roman", serif;
$lucidabright: "Lucida Bright", Georgia, serif;
$tnr: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;

// monospaced
$consolas: Consolas, monaco, monospace;
$courier: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
$monaco: Monaco, Consolas, "Lucida Console", monospace;


// User defined ------------------------------------------ //

// overwrite defaults for modular scale
// http://www.modularscale.com/
$ms-base: 1em;
$ms-ratio: 1.2;

// Base font attributes ---- //
$font-family: "korolev",sans-serif;
$font-size: 16;
$font-lineheight: 1.6;

// Base colours ---- s represents 'Site' //
$white: #FFFFFF;
$black: #0a0e14;
$green: #a2cd58;
$blue: #1b4b97;
$orange: #f2a927;
$grey: #dedfdf;

//links
$s-Color_link: $green;
$s-Color_link-focus: adjust-hue($green,-10deg);
$s-Color_link-hover: adjust-hue($green,-10deg);