/* ---------------------------------------------- *
	Big Mama Styles!

	Here we collate all of our partials into one file ready to be processed and generate that
	beautiful CSS.

\* ---------------------------------------------- */
/* - Index
-------------------------------------------------
	- Susy ...................................... 1.0.
	- Breakpoint ................................ 2.0.
	- Modular Scale ............................. 3.0.
	- Mixins .................................... 4.0.
	- Variables ................................. 5.0.
	- Reset ..................................... 6.0.
	- Base ...................................... 7.0.
	- Grid ...................................... 8.0.
	- Typography ................................ 9.0.
	- Nav ...................................... 10.0.
	- Header ................................... 11.0.
	- Content .................................. 12.0.
	- Footer ................................... 13.0.
*/
/* -----------------------------------------
	1.0. Susy
----------------------------------------- */
/* -----------------------------------------
	2.0. Breakpoint
----------------------------------------- */
/* -----------------------------------------
	3.0. Modular Scale
----------------------------------------- */
/* -----------------------------------------
	4.0. Mixins
----------------------------------------- */
/* -----------------------------------------
	5.0. Variables
----------------------------------------- */
/* -----------------------------------------
	6.0. Reset
----------------------------------------- */
/* ---------------------------------------------- *
  Partial: reset

  Reset the fuck out of everything. Phwouah!

\* ---------------------------------------------- */
* {
  box-sizing: border-box; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

html, body {
  height: 100%; }

a img {
  border: none; }

blockquote {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* -----------------------------------------
	7.0. Base
----------------------------------------- */
/* ---------------------------------------------- *
  Partial: base

  Here you place the base defaults to any project

\* ---------------------------------------------- */
*, *:before, *:after {
  box-sizing: border-box; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  color: #2f2f2f;
  font-size: 16px;
  line-height: 1.6;
  margin: 0; }

html, body {
  height: 100%;
  min-height: 100%; }

small {
  font-size: 0.85em; }

ul li {
  list-style: none; }

ol li {
  list-style: none; }

img, object, embed {
  height: auto;
  max-width: 100%; }

blockquote {
  background: #e3e3e3;
  color: #FFFFFF;
  font-size: 1.1em;
  font-style: italic;
  margin: 0 0 1.250em 1.250em;
  padding: 0.625em 1.250em 1.250em; }
  blockquote p:last-child {
    margin-bottom: 0; }

/*********************************************
	- 2.0 -  LINKS
*********************************************/
/* - 2.1. - BASE LINK STYLES
	------------------------------------------ */
a {
  color: blue;
  cursor: pointer;
  text-decoration: none;
  /* Improve readability when focused and hovered in all browsers: h5bp.com/h */ }
  a:hover {
    color: green; }
  a:focus {
    color: purple; }
  a:focus, a:active {
    outline: none; }

/* - 2.2. - HEADER LINKS 
	------------------------------------------ */
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.h1 a, .h2 a, .h3 a, .h4 a, .h5 a, .h6 a {
  color: blue; }

/*********************************************
	- 3.0 -  Helpers
*********************************************/
.hide {
  display: none; }

.center-align {
  text-align: center; }

/* -----------------------------------------
	8.0. Grid
----------------------------------------- */
/* ---------------------------------------------- *
  Partial: grid

  We're using Susy. Please visit http://susy.readthedocs.org/en/latest/install/

  Due to using Susy, we're going to need the Ruby gems installed. Please a see a guide here: [TBD].

  Usage
  =====

\* ---------------------------------------------- */
/* - Index
-------------------------------------------------
  - Global defaults     ............................. 1.0.
  - Grid makeup         ............................. 2.0.
*/
/* ---------------------------------------------- *  1.0 Global defaults
\* ---------------------------------------------- */
/* ---------------------------------------------- *  1.0 Grid makeup
\* ---------------------------------------------- */
.contain {
  max-width: 1080px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1080px; }
  .contain:after {
    content: " ";
    display: block;
    clear: both; }
  .contain--table {
    display: table;
    width: 100%;
    max-width: 1080px;
    min-width: 1080px;
    margin: 0 auto; }

/* -----------------------------------------
	9.0. Typography
----------------------------------------- */
/* ---------------------------------------------- *
  Partial: typography

  I set all typographic styles here. First we list our variables such as fonts (maybe we're using some @font-face) and
  additionally and maps we might want to use. Then we specificy the typographic scales we want.

\* ---------------------------------------------- */
.test {
  width: 31.42857%;
  float: left;
  margin-right: 2.85714%; }

/* -----------------------------------------
	10.0. Nav
----------------------------------------- */
/* ---------------------------------------------- *
  Partial: nav

  All navigation styles here. This is sort that we can try keep things seperated and easy to maintain. You can
  include all global navigation styles here. 

\* ---------------------------------------------- */
/* -----------------------------------------
	11.0. Header
----------------------------------------- */
/* -----------------------------------------
	12.0. Content
----------------------------------------- */
body {
  background: orange; }

/* ---------------------------------------------- *
  Partial: buttons

  This is a work-in-progress. Please deploy your own method or use my exaple below. 

\* ---------------------------------------------- */
/* -----------------------------------------
	13.0. Footer
----------------------------------------- */
